absl-py==1.0.0
argon2-cffi==20.1.0
async-generator==1.10
attrs==21.4.0
backcall==0.2.0
bleach==4.1.0
boto3==1.23.10
botocore==1.26.10
cached-property==1.5.2
cachetools==4.2.4
certifi==2020.6.20
cffi==1.14.6
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
comm==0.1.4
cycler==0.11.0
Cython==0.29.23
dataclasses==0.8
decorator==5.1.1
defusedxml==0.7.1
descartes==1.1.0
easydict==1.13
entrypoints==0.3
et-xmlfile==1.1.0
future==0.18.2
gensim==4.1.2
google-auth==2.6.6
google-auth-oauthlib==0.4.6
googledrivedownloader==0.4
grpcio==1.45.0
h5py==3.1.0
idna==3.3
imageio==2.15.0
imbalanced-learn==0.8.1
importlib-metadata==4.8.3
importlib-resources==5.4.0
ipykernel==5.3.4
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.8.0
isodate==0.6.1
jedi==0.17.0
jieba==0.42.1
Jinja2==3.0.3
jmespath==0.10.0
joblib==1.1.0
jsonschema==3.0.2
jupyter==1.0.0
jupyter-client==7.1.2
jupyter-console==6.4.3
jupyter-core==4.8.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.1.5
kiwisolver==1.3.1
llvmlite==0.36.0
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.3.4
matplotlib-venn==0.11.7
mistune==0.8.4
mizani==0.7.3
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.5.1
notebook==6.4.3
numba==0.53.1
numpy==1.19.5
oauthlib==3.2.0
olefile==0.46
openai==0.8.0
openpyxl==3.0.10
packaging==21.3
palettable==3.3.0
pandas==1.1.5
pandocfilters==1.5.0
parso==0.8.3
patsy==0.5.4
pickleshare==0.7.5
Pillow==8.4.0
pip==21.2.2
plotnine==0.8.0
plyfile==0.7.4
prometheus-client==0.13.1
prompt-toolkit==3.0.20
protobuf==3.19.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
Pygments==2.11.2
pyparsing==3.0.7
pyrsistent==0.17.3
python-dateutil==2.8.0
pytz==2022.1
PyWavelets==1.1.1
pywin32==228
pywinpty==0.5.7
pyzmq==22.2.1
qtconsole==5.2.2
QtPy==2.0.1
rdflib==5.0.0
regex==2022.10.31
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
s3transfer==0.5.2
sacremoses==0.0.53
scikit-image==0.17.2
scikit-learn==0.24.2
scipy==1.5.4
Send2Trash==1.8.0
sentencepiece==0.1.98
setuptools==58.0.4
six==1.12.0
smart-open==6.2.0
statsmodels==0.12.2
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
terminado==0.9.4
testpath==0.5.0
threadpoolctl==3.1.0
tifffile==2020.9.3
torch==1.6.0+cpu
torch-cluster==1.5.9
torch-geometric==1.4.3
torch-scatter==2.0.6
torch-sparse==0.6.9
torchvision==0.7.0+cpu
tornado==6.1
tqdm==4.64.1
traitlets==4.3.3
transformers==2.2.0
typing_extensions==4.1.1
urllib3==1.26.9
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.3
wheel==0.37.1
widgetsnbextension==3.6.5
wincertstore==0.2
xlrd==1.2.0
xlwt==1.3.0
zipp==3.6.0
